@import "variables.scss";

.button-primary-long {
  font-size: 17px;
  font-weight: 400;

  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: $buttons-long-padding;
  width: fit-content;

  border: $buttons-border-color solid $buttons-border-width;
  border-radius: $buttons-border-radius;

  background-color: $buttons-transparent-background-color;
  transition: $default-transition;

  &:hover {
    background-color: $buttons-hover-color;
    border-color: $buttons-hover-color;
  }
}

.button-secondary-long {
  font-size: 17px;
  font-weight: 400;

  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: $buttons-long-padding;
  width: fit-content;

  border: $buttons-border-color solid $buttons-border-width;
  border-radius: $buttons-border-radius;
  background-color: $buttons-background-color;

  transition: $default-transition;

  &:hover {
    background-color: $buttons-hover-color;
    border-color: $buttons-hover-color;
  }
}

.button-round-active {
  font-size: 17px;
  font-weight: 400;

  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  width: $buttons-round-height-width;
  height: $buttons-round-height-width;

  border: $buttons-border-color solid $buttons-border-width;
  border-radius: $buttons-border-radius;

  background-color: $buttons-transparent-background-color;
  transition: $default-transition;

  &:hover {
    background-color: $buttons-hover-color;
    border-color: $buttons-hover-color;
  }
}

.button-round-inactive {
  font-size: 17px;
  font-weight: 400;

  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  width: $buttons-round-height-width;
  height: $buttons-round-height-width;

  border: $buttons-inactive-color solid $buttons-border-width;
  border-radius: $buttons-border-radius;

  background-color: $buttons-transparent-background-color;
  transition: $default-transition;
}