// buttons

$buttons-long-padding : 15px 45px;
$buttons-round-height-width : 50px;
$buttons-border-width : 2px;
$buttons-border-color : rgba(241, 205, 179, 1);
$buttons-border-radius : 100px;
$buttons-background-color : rgba(241, 205, 179, 1);
$buttons-transparent-background-color : rgba(253, 220, 196, 0);
$buttons-hover-color : rgba(253, 220, 196, 1);

$buttons-inactive-color : #CDCDCD;


// transitions

$default-transition : 0.1s
